<% provide(:title, 'About Us') %>

<div class="th-container-home-intro">

	<h2>このサイトについて</h2>

	<ul>
	<li>会計系試験(税理士試験,公認会計士試験,日商簿記検定)の理論科目定着をサポート</li>
	<li>記憶メカニズムに基づいて穴埋め問題を出題　「<a href=/app_master.html>会計基準マスター</a> 」アプリ</li>
	<li>穴埋め実力テストで定着度確認　「<a href=/app_exam.html>会計基準穴埋め実力テスト</a>」アプリ <font color=red>New!</font></li>
	<li>苦手分野抽出、集中強化のための穴埋め演習　「<a href=/app_workbook.html>財務諸表論ワークブック</a>」アプリ</li>
	</ul>

</div>
