<div class="row"> 
  
	<div class="col-xs-3 th-container-nav"> 
    	<%= render 'static_pages/sidebar' %>
	</div>

<div class="col-xs-9 th-container-body"> 
   
    <div class="th-container-content"> 
    <div class="th-container-home-intro">
    
    <h1>アプリ:財務諸表論ワークブック</h1>
    
	<h2>概要</h2>
	<p>
	会計基準等の穴埋め問題を任意の範囲から出題し、演習するための
	アプリケーションです。
	</p>    
    <p>
	選択した範囲から、条文をランダムに選択し、作問します。
	演習結果は、ユーザごとに蓄積され、閲覧することができます。
	</p>
	
	
	<div class="photo"> 
      <a href="#wbpc1"> <img src="/assets/wbpc1_s.png" alt="wbpc1" /> </a> 
    </div> 
    <div class="photo"> 
      <a href="#wbpc2"> <img src="/assets/wbpc2_s.png" alt="wbpc2" /> </a> 
    </div> 
	<div id="wbpc1"> 
		<img src="/assets/wbpc1.png" alt="wbpc1" /> 
	</div> 
	<div id="wbpc2"> 
		<img src="/assets/wbpc2.png" alt="wbpc2" />
	</div> 

	
	<h2>学習の流れ</h2>
	<ol>
		<li><a href=/ >ホームページ</a>右サイドのスタートボタンを押して演習を開始します</li>
		<li>ツリーの要素を選択すると、そのカテゴリの中から条文をランダムに選択し、問題を作成します。</li>
			<ul>
			  <li>選択するたびに新たな問題を生成します</li>
			  <li>正答率は、その範囲ごとに色分けされます。赤色は、正答率が著しく低いことを表します。</li>
			  <li>１つも解答せずに新たな問題を生成した場合は、正答率の計算から除外されます</li>
			</ul>
		<li>解答欄に入力し、採点ボタンを押すと、添削結果が表示されます。同時に正答率がアップデートされます。</li>
		<li>正答率が低い箇所を復習します。上位のカテゴリを演習することで、苦手分野をあぶり出し、その分野を演習で
		補強していくといった学習の仕方が考えられます。</li>
	</ol>
	
	<h2>iPhone専用「財務諸表論ワークブック」</h2>
	<p>
	スキマ時間を有効活用するために、
	iPhone向け専用インターフェースを用意しました。iPhoneからアクセスすることで自動的に
	適用されます。
	</p>
	<p>
	各パネル左側の色つきの箱は、サーモグラフィ風に定着度を色で表したものです。赤くなるほど正答率が低く、青黒くなるほど
	正答率が高い状態であることを示します。
	
	</p>
	<div class="photo"> 
      <a href="#wbiphone"> <img src="/assets/wbiphone_s.png" alt="wbiphone" /> </a> 
    </div> 
    <div id="wbiphone"> 
		<img src="/assets/wbiphone.png" alt="wbiphone" /> 
	</div> 
	
	<p>
	Safariで表示中に下の方にある'+'ボタンで、'ホーム画面に追加'すると、ホーム画面のアプリ一覧に
	追加され簡単に起動することができるようになります
	</p>
	<div class="photo"> 
      <a href="#wbiphone1"> <img src="/assets/wbiphone1_s.png" alt="wbiphone1" /> </a> 
    </div> 
    <div id="wbiphone1"> 
		<img src="/assets/wbiphone1.png" alt="wbiphone1" /> 
	</div> 
	<div class="photo"> 
      <a href="#wbiphone2"> <img src="/assets/wbiphone2_s.png" alt="wbiphone2" /> </a> 
    </div> 
    <div id="wbiphone2"> 
		<img src="/assets/wbiphone2.png" alt="wbiphone2" /> 
	</div> 
	<div class="photo"> 
      <a href="#wbiphone3"> <img src="/assets/wbiphone3_s.png" alt="wbiphone3" /> </a> 
    </div> 
    <div id="wbiphone3"> 
		<img src="/assets/wbiphone3.png" alt="wbiphone3" /> 
	</div> 
	
	
	</div>
	</div>
</div>

</div> <!-- th-container -->
