<div class="row"> 
  

	<div class="col-xs-3 th-container-nav"> 
    	<%= render 'static_pages/sidebar' %>
	</div>


<div class="col-xs-9 th-container-body"> 
   
    <div class="th-container-content"> 
    <div class="th-container-home-intro">
    
    <h1>アプリ:会計基準実力テスト</h1>
    
    <h2>概要</h2>
    <p>
	多様な分野から問題を出題します。拡大を続ける会計基準全体に渡る定着度を把握することを狙いとしています。
	テストの結果はユーザごとの正答率データベース(ワークブックアプリ(穴埋め式)で確認できます)に集計されるので、
 	テストを繰り返して苦手分野の抽出に利用するといった使い方もあります。
    </p>
	<p>
	また、競争試験において重要である「取りどころを抑えているか」といった点を得点に反映させるために、
	過去の回答結果から統計処理によって計算された難易度に基づいた得点（適応スコア）を算出します。
	この方式では正答率が高い問題ほど多くの配点が与えられるため、同じ正答率であっても「取りどころを抑えている」ほど
	高いスコアとなります。
	</p>
    <p>
    <a href="http://blog.livedoor.jp/qubic9/archives/1688842.html">リリース記事</a>
    </p>

	<h2>学習の流れ</h2>
	<ol>
	<li>アプリケーションを実行すると、１０分野から穴埋め問題が出題されます。
	<u>Tabキー</u>で解答欄、問題移動ボタンの選択を変更できるので、キーボードのみでテストを進められます。</li>
	<li>テストを終えた後しばらくすると添削結果がメールで配信されます。採点結果メール
	はhtml形式で送られることに注意してください。(gmail,yahoo-mailで表示確認済み)</li>
	</ol>
	<p>
	スマートフォン上でスキマ時間に添削結果を眺めるといった使い方が考えられます。
	</p>
	
	<h2>採点結果メール</h2>
	<p>
	メールヘッダに正答率が併記されているため、メーラで分類整理すると時系列で学習結果の推移を一覧することができます。
	</p>
	<center><img border=1 src=/assets/ex_exam.jpg width=500/></center>
	
	</div>
	</div>
	
</div>
</div> <!-- th-container -->

