<% provide(:title, 'Contact') %>

<div class="th-container-home-intro">

<h2>サービスについてのご意見・ご感想</h2>
<p>
各アプリケーション画面の上方に、「ひとこと」というリンクがあります。
ここから、開発者へコメントを送信できます。サービスについてのご意見・ご感想・不具合レポートを頂けると幸いです。
</p>

</div>
