<div class="row"> 
  
	<div class="col-xs-3 th-container-nav"> 
    	<%= render 'static_pages/sidebar' %>
	</div>


<div class="col-xs-9 th-container-body"> 
   
    <div class="th-container-content"> 
    <div class="th-container-home-intro">
    
    <h1>データ整備状況</h1>
	<h2>企業会計基準</h2>
	
	<table class="golden"> 
	<thead><tr><th id=ft></th><th>タイトル</th><th id=ft></th><th width=108></th></tr></thead> 
	<tbody> 
	<tr><th>討議資料</th><th>財務会計の概念フレームワーク</th><td class="uncheck"></td><td></td></tr>
	<tr><th>第１号</th><th>自己株式及び準備金の額の減少等に関する会計基準</th><td class="check"></td><td></td></tr>
	<tr><th>第２号</th><th>１株当たり当期純利益に関する会計基準</th><td class="uncheck"></td><td></td></tr>
	<tr><th>第４号</th><th>役員賞与に関する会計基準</th><td class="check"></td><td></td></tr>
	<tr><th>第５号</th><th>貸借対照表の純資産の部の表示に関する会計基準</th><td class="check"></td><td></td></tr>
	<tr><th>第６号</th><th>株主資本等変動計算書に関する会計基準</th><td class="check"></td><td></td></tr>
	<tr><th>第７号</th><th>事業分離等に関する会計基準</th><td class="uncheck"></td><td></td></tr>
	<tr><th>第８号</th><th>ストック・オプション等に関する会計基準</th><td class="check"></td><td></td></tr>
	<tr><th>第９号</th><th>棚卸資産の評価に関する会計基準</th><td class="check"></td><td></td></tr>
	<tr><th>第10号</th><th>金融商品に関する会計基準</th><td class="check"></td><td></td></tr>
	<tr><th>第11号</th><th>関連当事者の開示に関する会計基準</th><td class="uncheck"></td><td></td></tr>
	<tr><th>第12号</th><th>四半期財務諸表に関する会計基準</th><td class="check"></td><td></td></tr>
	<tr><th>第13号</th><th>リース取引に関する会計基準</th><td class="check"></td><td></td></tr>
	<tr><th>第15号</th><th>工事契約に関する会計基準</th><td class="check"></td><td></td></tr>
	<tr><th>第16号</th><th>持分法に関する会計基準</th><td class="check"></td><td></td></tr>
	<tr><th>第17号</th><th>セグメント情報等の開示に関する会計基準</th><td class="uncheck"></td><td></td></tr>
	<tr><th>第18号</th><th>資産除去債務に関する会計基準</th><td class="check"></td><td></td></tr>
	<tr><th>第20号</th><th>賃貸等不動産の時価等の開示に関する会計基準</th><td class="check"></td><td></td></tr>
	<tr><th>第21号</th><th>企業結合に関する会計基準</th><td class="uncheck"></td><td></td></tr>
	<tr><th>第22号</th><th>連結財務諸表に関する会計基準</th><td class="check"></td><td></td></tr>
	<tr><th>第24号</th><th>会計上の変更及び誤謬の訂正に関する会計基準</th><td class="check"></td><td></td></tr>
	<tr><th>第25号</th><th>包括利益の表示に関する会計基準</th><td class="check"></td><td></td></tr>
	</tbody> 
	</table> 

	<p>
	<ul>
	<li>各会計基準から受験学習上必要と思われる部分を抜粋しています</li>
	<li>意見書、結論の背景等は会計基準本文とは別に準備します</li>
	<li>一部改正に関する号については、関連する基準に反映されています</li>
	</ul>
	</p>
	
	<h2>その他会計基準等</h2>
	
	<table class="golden"> 
	<thead><tr><th width=160>タイトル</th><th id=ft></th><th  width=240></th></tr></thead> 
	<tbody> 
	<tr><th>企業会計原則</th><td class="check"></td><td>注解</td></tr> 
	<tr><th>外貨建取引等会計処理基準</th><td class="check"></td><td>注解</td></tr> 
	<tr><th>連結キャッシュ・フロー計算書等の作成基準</th><td class="check"></td><td>注解</td></tr> 
	<tr><th>研究開発費等に係る会計基準</th><td class="check"></td><td>注解、第23号一部改正を反映済</td></tr> 
	<tr><th>退職給付に係る会計基準</th><td class="check"></td><td>注解、第3号,第14号,第19号一部改正を反映済</td></tr> 
	<tr><th>税効果会計に係る会計基準</th><td class="check"></td><td>注解</td></tr> 
	<tr><th>固定資産の減損に係る会計基準</th><td class="check"></td><td>注解</td></tr> 
	<tr><th>原価計算基準</th><td class="uncheck"></td><td></td></tr> 
	</tbody> 
	</table> 
		
	</div>
	</div>
</div>


</div> <!-- th-container -->

