

<div class="row">

	<div class="col-xs-3 th-container-nav"> 
    	<%= render 'static_pages/sidebar' %>
	</div>
   
    <div class="col-xs-9 th-container-content"> 
	    <div class="th-container-home-intro">
	    
	    <h1>Thlearnオンライン学習サービスに関する詳細</h1>
	    <p>
			Thlearn(すらーん)オンライン学習サービスに関する詳細記事を提供しています
		</p>
		
		<h2>アプリケーション</h2>
		<p>
		本サービスでは、以下の理論学習向けアプリケーション
		</p>
		<ul>	
		<li><a href=/app_master.html> 「会計基準マスター」</a></li>
		<li><a href=/app_workbook.html>「財務諸表論ワークブック」</a></li>
		<li>「会計基準穴埋め実力テスト」</li>
		<li><a href=http://diyeda.appspot.com>「財務諸表論 超短答演習ツール」</a></li>
		</ul>
		<p>	
		を無償で提供しています。
		</p>
		<p>
		<a href=/app_master.html>「会計基準マスター」</a>は、会計基準を一つずつ学習し、仕上げていくアプリケーションです。
		心理学者のヘルマン・エビングハウスによって導かれた「エビングハウスの忘却曲線」の考え方を
		アレンジしたアルゴリズムで、ユーザの解答状況に応じて、出題をコントロールします。
		</p>
		<p>
		最終的には語句の穴埋め問題が解けるレベルを目指しますが、解けない場合は、解答が比較的容易な
		選択式による出題に立ち戻るため、なじみが薄い会計基準についても無理なく学習を進めることができます。
		</p>
		
		<p>
		<a href=/app_workbook.html>「財務諸表論ワークブック」</a>は、会計基準等の穴埋め問題を任意の範囲から出題し、演習するための
		アプリケーションです。
		</p>
		<p>
		選択した範囲から、条文をランダムに選択し、作問します。
		演習結果は、ユーザごとに蓄積され、閲覧することができます。
		</p>
		
		<p>
		「会計基準穴埋め実力テスト」アプリケーションは、会計基準全体からまんべんなく穴埋め問題を出題します。日々の学習の定着度チェックにご活用いただけます。
		</p>

		<p>
		<a href=http://diyeda.appspot.com>「財務諸表論 超短答演習ツール」</a>アプリケーションは、有名簿記ブログ「税理士試験　簿記論　講師日記」さんの「財務諸表論　超短答問題」、「財表理論Ｎａｖｉ確認問題」
		をまとめて演習するためのアプリです。
		</p>
			
		<h2>ログインについて</h2>
		<p>
		お手持ちのGoogleアカウント(Googleのサービスを利用するためのアカウント: Gmailユーザであれば既に持っていることになります)を用いてログインすると、あなたを他のユーザと区別して認識することができるため、
		演習結果や設定の保存などのさまざまな学習サポート機能が有効になります。
		</p>
		<p>
		保存された成績等のデータは、いつでもユーザ自身で消去することができます。
		</p>
		<p>
		ログインせずに演習を開始することもできますが、その場合には、演習結果や設定などはサービス内に保存されません。
		</p>
		<p>
		Googleアカウントをお持ちでない方は、<a href=https://www.google.com/accounts/NewAccount?hl=ja >
		 ここ</a>から無料で簡単に取得できます(<a href=/effect_login.html >ログインするとできること</a>) 。	 
		</p>

		<h2>サービスについてのご意見・ご感想</h2>
		<p>
		各アプリケーション画面の上方に、「ひとこと」というリンクがあります。
		ここから、開発者へコメントを送信できます。サービスについてのご意見・ご感想・不具合レポートを頂けると幸いです。
		</p>

		<h2>推奨ブラウザ</h2>
		<p>
		<a href="http://www.google.com/chrome/intl/ja/landing.html?hl=ja&hl=ja">Google Chrome</a>
		 を推奨します。
		</p>
			
		</div>
	</div>
</div>
