<div class="row"> 
  
	<div class="col-xs-3 th-container-nav"> 
    	<%= render 'static_pages/sidebar' %>
	</div>

<div class="col-xs-9 th-container-body"> 
    <div class="th-container-content"> 
    <div class="th-container-home-intro">
    
    <h1>Thlearnログインした場合に有効になる機能</h1>
	<h2>演習結果の保持</h2>
	<p>
	演習結果は、回答方式ごとに記録されます。問題カテゴリに、そのカテゴリに含まれる条文の正答率が表示されます。
	</p>
	<p>
	保存されている演習結果は、画面上部の"設定"リンクから、消去することができます。(PC版のみ)
	</p>
	<h2>設定の保持</h2>
	<p>
	ランダム問題選択における条文数の設定を保持します。モバイル版には、PC版の設定が適用されます。
	</p>
	
		
	</div>
	</div>
</div>


</div> <!-- th-container -->
