


<div class="row">

  <div class="col-xs-9 home-contents">

    <div class="row">
      <div class="col-xs-12">
          <div class="section">
          このサイトについて
          </div>
          <div class="desc">
            <ul>
            <li>会計系試験(税理士試験,公認会計士試験,日商簿記検定)の理論科目定着をサポート</li>
            </ul>
            <div class="alert alert-info" role="alert">
            一部のアプリケーションは、学習結果を保持するためにGoogleアカウントが必要です。
            Googleアカウントをお持ちでない方は、<a href=https://www.google.com/accounts/NewAccount?hl=ja >
            ここ</a>から無料で簡単に取得できます(<a href=/effect_login.html >ログインするとできること</a>) 。   
            </div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 apps"> アプリケーション</div>

      <% for app in @apps %>
        <div class="col-xs-4">
          <div class="panel panel-default panel_custom">
            <div class="panel-body">
              <%= render 'static_pages/goods_simple', object: app %>
            </div>
          </div>
        </div>
      <% end %>
    </div>


  </div>

  <div class="col-xs-3">
    <center>
    <p><small>
    最新アップデート情報をtwitterで配信しています。
    </small>
    </p>
    </center>
          
    <a class="twitter-timeline" href="https://twitter.com/kenputer" data-widget-id="595371074130345984">@kenputerさんのツイート</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>
</div>



<% ad = select_ad  %>
<%= link_to (image_tag ad[:img]), (asset_path ad[:url]) %>

</td>



<td align="left" valign="top">



<!-- twitter -->
</td>

</tr>
</table>    
