<div class="row"> 
  
	<div class="col-xs-3 th-container-nav"> 
    	<%= render 'static_pages/sidebar' %>
	</div>

<div class="col-xs-9 th-container-body"> 
   
    <div class="th-container-content"> 
    <div class="th-container-home-intro">
    
    <h1>受験に役立つサイト集</h1>
	
	<h2>税理士試験</h2>
	<div class="th-feature-box">
	<h3><a href="http://bokiron.livedoor.biz/">税理士試験　簿記論　講師日記</a></h3>
	<p class="contents">
	税理士試験 簿記論、財務諸表論、簿記検定の問題、学習方法等をアドバイス。
	</p>

	<h3><a href="http://zeirishi-community.com"><img src="/assets/banner_zeirishi_community.gif"> 税理士試験コミュニティ</a></h3>
	<p class="contents">
	税理士試験のための情報サイト。現在受験中の方や、これから受験を始める方のためのコミュニティサイトです。
	</p>
	</div>

	<div class="th-feature-box">
	<h3><a href="http://zeicom.glog.jp"><img src="/assets/zeicon.gif" height="48px"> <small>税理士試験の勉強時間記録サイト</small></a></h3>
	<p class="contents">
	税理士試験受験生向け 勉強時間の記録サイトです。毎日の勉強時間と勉強内容等のコメントを記録でき、勉強時間によりランキング表示されます。
	相対評価の試験ですので、勉強時間の比較という視点で自己評価するのも有用だと思います。
	</p>
	</div>
		
	<div class="th-clear"></div>

	<h2>簿記検定</h2>
	<div class="th-feature-box">	
	<h3><a href="http://www.boki-navi.com/"><img src="http://www.boki-navi.com/images/link.jpg" width="88" height="31" border="0" title="簿記検定ナビは、日商簿記検定の情報サイトです" alt="簿記検定ナビ" /> 簿記検定ナビ</a></h3>
	<p class="contents">
	日商簿記検定に関する情報や、簿記の勉強方法を紹介するサイトです。
	</p>
	</div>

	<div class="th-clear"></div>
	
	<h2>公認会計士試験</h2>
	<div class="th-feature-box">	
	<h3><A href="http://startpage-cpa.com/"><IMG src="http://startpage-cpa.com/img/banner_8831.gif" width="88" height="31" border="0" alt="StartPage!公認会計士試験">StartPage!公認会計士試験</A></h3>
	<p class="contents">
	公認会計士試験の合格を目指す受験生が集まるコミュニティ・ポータルサイト。合格発表,合格率,日程,難易度等について知りたい方に。
	</p>
	</div>
		
	</div>
	</div>
</div>
