@import "bootstrap";

$lightGray: #999;

$grayMediumLight: #eaeaea;


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1050px) {
  body {min-width:1050px;}
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 92px;
}

html,
body {
  height: 100%;
  /* html と body 要素はパディングやマージンを持てません。*/
}

.banner {
  padding: 8px;
  color: black;
  border: 2px solid red;
  margin-bottom: 16px;
  margin-top: 8px;
}

/* フッターを下部へ押しやるための、コンテンツのラッパー */
#wrap {
  min-height: 100%;
  height: auto;
  /* フッターの高さ分だけ、ネガティブインデントを指定 */
  margin: 0 auto -60px;
  /* フッターの高さ分だけ、パディングを指定 */
  padding: 0 0 60px;
}

footer {
  height: 60px;
  background-color: #f5f5f5;

  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px sold #eaeaea;
  color: $lightGray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margine-left: 10px;
    }
  }
}

section {
  overflow: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/*h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}
*/
/*h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}
*/
p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: $lightGray;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #39A124;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #86D276;
    text-decoration: none;
  }
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right : 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
  list-style: none;
  margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}

.timestamp {
  color: $lightGray;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #ff;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

.goods_pic {
  float: left;
  margin-right: 20px;
  
}


.panel_custom {
  height: 216px;
  overflow:scroll;
}

.panel-body {
  height: 100%;
}

.maker_title {
  height: 120px;
  background: #FEFB51;
  margin-top: 8px;
  margin-bottom: 8px;
}

.introduction {
  margin-top: 8px;
  margin-bottom: 8px;
}

.title-with-buttons {
  height: 48px;
  span {
    font-size: 24pt;
    margin-left: 16px;
  }
  margin-top: 8px;
  margin-bottom: 8px;
}

.right-menu {
  border-left: 1px solid $grayMediumLight;
}

/* Navbarのオリジナルスタイル */

  .navbar-default {
    border: none;
  }
  .navbar-origin {
    background: #ffffff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  .navbar-origin .navbar-brand {
    padding: 0 15px;
    line-height: 90px;
    height: 90px;
    font-size: 28px;
    font-weight: 100;
  }
  .navbar-origin .navbar-right {
    padding-right: 16px;
  }
  .navbar-origin .navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 90px;
    font-weight: 200;
    color: #A5A5A5;
  }
  .navbar-origin .navbar-nav>li>a:hover{
    color: #E42121;
    border-bottom: 1px solid #E42121;
    line-height: 89px;
  }
  .navbar-origin .navbar-nav>.open>a,
  .navbar-origin .navbar-nav>.open>a:hover,
  .navbar-origin .navbar-nav>.open>a:focus {
    background: none;
    color: #E42121;
  }
  .navbar-origin .navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 1px solid #E42121;
  }
  .navbar-origin .dropdown-menu {
    padding: 0;
  }
  .navbar-origin .dropdown-menu li a {
    padding: 15px;
    color: #777;
  }
  .navbar-origin .dropdown-menu li.divider {
    padding: 0;
    margin: 0;
  }

  .navbar-rep {
    background: #F6CEF5 ;
  }





.descblock { 
  background: #FFF2DA; 
  border: #FFD852 1px solid; 
  border-radius: 4px; 
  -moz-border-radius:4px;
  margin: 0 0 8px 0;
  padding: 4px;
  display: block;
  
  behavior: url(/styles/ie-css3.htc);
}

.descblock .section {
/*  text-shadow: white 2px 3px 4px, 5px 6px;*/
  font-weight: bold;
}

.descblock .desc {
  font-size: 1em;
  line-height: 1.5em;
}

.descblock .desc-small {
  font-size: .9em;
  line-height: 1.5em;
}

.descblock .desc p{
  padding: 2px 16px 2px 16px;
}

.descblock .desc UL LI {
  list-style: circle;
}

a{
  color: #0083c8;
}

a:hover{
  color: #F70;
}

h1,h2,h4,h5{
  color: green;
}

h2,h4{
  border-bottom: 1px solid green;
}

h3 {
  border-bottom: 1px solid silver;
}


h1,h2{
  font-weight: normal;
}

.simple_desc {

  height: 100%;
  position: relative;

  h2 {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
  }

  .start_menus {
    bottom: 0px;
    position: absolute;
    width: 100%;
  }

  ul {
    margin-bottom: 0;
  }
}
 

.apps {
  font-size: 1.3em;
  color: green;
  padding-top: 16px;
  padding-bottom: 16px;
}

h3,h4,h5{
  font-size: 1em;
}

h3 ~ p {
  padding-left: 16px;
}

h1{
  font-size: 2em;
  margin: 0;
}

h2{
  font-size: 1.3em;
  margin-bottom: 5px;
}

h3{
/*  color: #666;*/
  margin-bottom:0;
}

h4{
  margin-bottom: 10px;
}

h5{
  border-bottom: 1px solid #ccc;
}

p.content{
  margin-top:5px;
}

.th-container-header,
.th-container-body,
.th-container-footer,
.th-container-nav-top{
  width: 800px;
  margin: auto;
}

ul.th-top-nav li:hover{
  background-image:url('/images/th-orange-bar-hover.gif');
}

ul.th-top-nav li a:hover{
  color: #fff;
}

ul.th-top-nav li.th-top-nav-over{
  background-image:url('/images/th-orange-bar-hover.gif');
}


.th-container-header{
  height: 60px;
  border: 1px solid #fff; 
}

.th-logo{
  border:0;
  float:left;
  margin-top:15px;
}

.header-title {
  margin-top:28px;
  margin-left: 16px;
  float:left;
  font-size: 16px;
  font-weight: bold;
}

.mente {
  margin-left: 16px;
  font-size: 14px;
}

.th-container-header-bar{
  background-image: url(/images/th-orange-bar.gif);
  cursor:pointer;
  background-repeat: repeat-x;
  height: 40px;
}



.th-container-body{
  margin-top: 4px;
}

.th-container-nav,
.th-container-content,
.th-container-content-index{
  float: left;
}

/*Left Navigation*/
.th-container-nav{
  width: 180px;
}

.th-side-nav{
  list-style:none;
  margin: 0;
  margin-right:20px;
  padding: 0;
}

.th-side-nav li{
  border-bottom: 1px solid #ccc;
  padding: 7px 0 7px 2px;
}

.th-side-nav a{
  text-decoration: none;
}

.th-side-nav-sub{
  margin-left: 10px;
}

ul.th-side-nav li.th-side-nav-main{
  display:none;
}

.th-side-nav-sub2{
  margin:10px 0 0 10px !important;
  border:0 !important;
  padding:0 !important;
}

.th-side-nav-item-on{
  color: #f70;
  font-weight: bold;
}
/*End Left Nav*/

.th-container-content-index{
  width: 800px;
}

.th-container-content{
  width: 600px;
}

.top_page {
  width: 800px;
}

.th-container-footer{
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #ccc
}

.th-clear{
  clear: both;
}



/*HOME PAGE SPECIFIC*/
/*Top Nav*/

.th-top-nav{
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 0;
  position: relative;
}



.th-top-nav li{
  list-style: none;
  float: left;
  border-left: 1px solid #fff;
  padding: 5px 20px 5px 10px;
  margin-top:9px;
}

.th-top-nav a{
  color: #fff;
  text-decoration: none;
}

ul.th-top-nav li.th-side-nav-sub{
  display:none;
}

/*End Top Nav*/

.th-container-home-intro{
  float: left;
  width: 590px;
  margin:0 10px 20px 0;
}

.ad_right {
  margin-bottom: 8px;
}

/*
  from welcome.css
*/

.enter{
  width:260px;
  height:100px;
  margin-bottom: 8px;
}

.enter .enter-border{
  border: #c3d9ff 1px solid;
  background-color: #fff;
  padding: 2px;
  margin-bottom: 5px;
}

.enter-innerbox{
  text-align: left;
  background-color: #e8eefa; 
}

div.enter-flexbluebtn{
  line-height: 1.2;
  padding: 6px;
}

div.enter-flexbluebtn div {
  border-bottom: 1px solid #e8eefa;
  background: url("/images/bluebtn1.gif");
  background-repeat:no-repeat;
  background-position:0% 0%;
  font-size: .9em;
  margin: 0;
  padding: 0;
}

div.enter-flexbluebtn div span a {
  display: block;
  color: #fff;
  background: url("/images/bluebtn2.gif");
  background-repeat:no-repeat;
  background-position:right bottom;
  padding: 10px 15px 10px 10px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

div.enter-flexbluebtn div p {
  background: none;
  background: url("/images/bluebtn1.gif");
  background-repeat:no-repeat;
  right: -400px;
  margin: 0;
  padding: 0;
  text-align: center;
}

div.enter-flexbluebtn div p span {
  display: block;
  background: url("/images/bluebtn1.gif");
  background-repeat:no-repeat;
  background-position: left bottom;
  margin: 0;
  padding: 0;
}

p.enter-description {
  text-align: center;
  margin: 10px 0px 0px 0px;
  padding: 0;
  font-size: 9pt;
}

/*---------------------------*/
.th-feature-box {
float: left;
padding-right: 25px;
width: 270px;
}

div.photo {
  display: inline;
  margin-left: 16px;
}

/* welcome only */
.gaccount {
  border: 1px dotted gray;
  margin: 16px;
  padding: 8px;
}

/*
  project: CSS - table design
  type: stylesheet
  description: golden style
  edited: 14.09.2005, Michael Horn
*/
table.golden {
  border-collapse: collapse;
  border: 2px solid #996;
  font: normal 100%/130% verdana, arial, helvetica, sans-serif;
  color: #333;
  background: #fffff0;
  }
.golden caption  {
  padding: 0 .4em .4em;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  background: transparent;
  }
table.golden td ,table.golden th  {
  border: 1px solid #cc9;
  padding: .3em;
  }
table.golden thead th, tfoot th {
  border: 1px solid #cc9;
  text-align: left;
  font-weight: bold;
  color: #444;
  background: #dbd9c0;
  }
table.golden tbody td a {
  background: transparent;
  color: #72724c;
  text-decoration: none;
  border-bottom: 1px dotted #cc9;
}
table.golden tbody td a:hover {
  background: transparent;
  color: #666;
  border-bottom: 1px dotted #72724c;
  }
table.golden tbody th a {
  background: transparent;
  color: #72724c;
  text-decoration: none;
  font-weight:bold;
  border-bottom: 1px dotted #cc9;
  }
table.golden tbody th a:hover {
  background: transparent;
  color: #666;
  border-bottom: 1px dotted #72724c;
  }
table.golden tbody th, tbody td {
  vertical-align: top;
  text-align: left;
  }
table.golden tfoot td {
  border: 1px solid #996;
  }
table.golden .odd {
  color: #333;
  background: #f7f5dc;
  }
table.golden tbody tr:hover {
  color: #333;
  background: #fff;
  }
table.golden tbody tr:hover th,
table.goldentbody tr.odd:hover th {
  color: #333;
  background: #ddd59b;
  }

 .check {
    
  background-image: url(/images/check.gif);
  background-repeat: no-repeat;
  background-position:center;
 
}
 .uncheck {
    
  background-image: url(/images/uncheck.gif);
  background-repeat: no-repeat;
  background-position:center;
 
}
 
 table.golden {
    
  margin-left: 8px;
  margin-top: 16px;
 
}

#ft {   
  width: 56px;
  text-align: center;
 
}
