<div class = "navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">(C)2015, Kenputer</p>
    <p class="navbar-text pull-right"><%= link_to "このサイトについて", about_path %></p>
    <p class="navbar-text pull-right"><%= link_to "連絡先", contact_path %></p>
  </div>
</div>

